<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel='shortcut icon' href='https://s-media-cache-ak0.pinimg.com/originals/86/f5/d9/86f5d99e1e42ce75266b260ebd804955.jpg'>
</head>
<body class="{% block body %} {% endblock %}">

{% if current_user.is_authenticated %}
  <nav class="navbar navbar-inverse" id='navbar'>
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('root')}}">Motiv8</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('users.show', id=current_user.id)}}">Workout</a></li>
        <li class="active"><a href="{{url_for('exercises.index')}}">Exercises <span class="sr-only">(current)</span></a></li>
      </ul>

    <!-- Profile Dropdown -->
      <ul class="nav navbar-nav navbar-right">
      <li class = 'dropdown'>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{current_user.username}}</b> <span class="caret"></span></a>
        <ul class='dropdown-menu'>
          <li><a href="{{url_for('users.edit', id=current_user.id)}}">Edit Profile</a></li>
          <li><a href="{{url_for('users.logout')}}">Logout</a></li>
        </ul>
      </li>
{% else %}
      <nav class="navbar navbar-inverse" id='navbar'>
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{{url_for('root')}}">Motiv8</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{url_for('root')}}">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="{{url_for('about')}}">About Us</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

                <!-- SignUp Dropdown -->
        <li class = 'dropdown'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign Up</b> <span class="caret"></span></a>
          <ul id='login-dp' class='dropdown-menu'>
            <li>
              <div class='row'>
              <div class="col-md-12">
                <form class="form-group" role="form" method="POST" action="{{url_for('users.signup')}}" accept-charset="UTF-8" id="login-nav">
                    {{g.signup_form.csrf_token}}
                      <div class="form-group">
                         {{g.signup_form.username.label}}<br>
                         {{g.signup_form.username(placeholder='username')}}
                      </div>
                      <div class="form-group">
                         {{g.signup_form.password.label}}<br>
                         {{g.signup_form.password(placeholder='password')}}
                      </div>
                      <div class='form-group'>
                        {{g.signup_form.email.label}}<br>
                        {{g.signup_form.email(placeholder='email@email.com')}}
                      </div>
                      <div class="form-group">
                         <button type="submit" class="btn btn-primary btn-block">Log in</button>
                      </div>
                </form>
              </div>
              </div>
            </li>
          </ul>
        </li>
           <!-- Login Dropdown -->
        <li class = 'dropdown'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
          <ul id='login-dp' class='dropdown-menu'>
            <li>
              <div class='row'>
              <div class="col-md-12">
                <form class="form-group" role="form" method="POST" action="{{url_for('users.login')}}" accept-charset="UTF-8" id="login-nav">
                    {{g.login_form.csrf_token}}
                      <div class="form-group">
                         {{g.login_form.username.label}}<br>
                         {{g.login_form.username(placeholder='username')}}
                      </div>
                      <div class="form-group">
                         {{g.login_form.password.label}}<br>
                         {{g.login_form.password(placeholder='password')}}
                      </div>
                      <div class="form-group">
                         <button type="submit" class="btn btn-primary btn-block">Log in</button>
                      </div>
                </form>
              </div>
              </div>
            </li>
          </ul>
        </li>

        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class='alert {{category}} text-center' role='alert'>{{message}}</div>
    {% endfor %}
  {% endif %}
{% endwith %}


	{% block content %}
	{% endblock %}

<div class="footerfix"></div>
<footer class='navbar navbar-fixed-bottom'>
  <div class='container'>
    <span><img src="https://idesigni.co.uk/wp-content/uploads/2014/09/copyright-e1412084239201.png" style="height:20px;width:20px;">2017 Motiv8 Inc.</span>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/slot.js')}}"> </script>
</body>
</html>
