{% extends 'base.html' %}

{% block title %} Motivation {% endblock %}

{% block content %}


<div class='parallax1' style="width:100%"></div>
<div>
	<div class='caption'>
		<span class='border'>Are you motiv8d?</span>
	</div>
</div>
<div class='parallax2'>
</div>
	<div style="color:#fff;background-color:#111;padding:50px;">
		<h3 style="text-align:center;">Get started below</h3>
		<h5 style="text-align:center;">Try a sample workout</h5>
		<span class="glyphicon glyphicon-menu-down" style="display:block;text-align:center;font-size:40px;"></span>
	</div>

<div class='parallax3'>
	<div style="width:1250px; margin:auto; height:100px">
	<div class="slots"  id="slots_a">
		<div class="wrapper"><div class="slot">Spin</div></div>
	</div>
	<div class="slots"  id="slots_b">
		<div class="wrapper"><div class="slot">For</div></div>
	</div>
	<div class="slots"  id="slots_c">
		<div class="wrapper"><div class="slot">Motiv8tion</div></div>
	</div>
	</div>
	<div style="text-align:center">
		<input type="button" value="Spin!" class="go">
	</div>
</div>

{% endblock %}
