{% extends 'base.html' %}

{% block title %} Create Exercise {% endblock %}

{% block content %}

<form action='{{url_for("exercises.index")}}' method = 'POST'>
	{{form.csrf_token}}
	<p>
		{{form.name.label}}
		{{form.name}}
		<span>
			{% if form.name.errors %}
				{% for error in form.name.errors %}
					{{error}}
				{% endfor %}
			{% endif %}
		</span>
	</p>
	<p>
		{{form.description.label}}
		{{form.description}}
		<span>
			{% if form.description.errors %}
				{% for error in form.description.errors %}
					{{error}}
				{% endfor %}
			{% endif %}
		</span>
	</p>
	<br>
	<p>Select which bodyparts are focused with this exercise: </p>
	<p>
		{{form.bodyparts}}
	</p>
	<input type = 'submit' value = 'Add Exercise'>
</form>

{% endblock %}
