{% extends 'base.html' %}

{% block title %} {{exercise.name}} {% endblock %}

{% block content %}

<h1>{{exercise.name}}</h1>

<p>{{exercise.description}}</p>
<br>

<p>Workouts out:</p>
<ul>
{% if exercise.bodyparts %}
	{% for bodypart in exercise.bodyparts %}
		<li><a href="{{url_for('bodyparts.show', id=bodypart.id)}}">{{bodypart.name}}</a></li>
	{% endfor %}

{% else %}
	None.
{% endif %}
</ul>
<br>

<a href='{{url_for("exercises.edit", id=exercise.id)}}' class='btn btn-info'>Edit Exercise</a>

{% endblock %}
