textarea {
	resize:none;
	width:300px;
	height:150px;

}



/*#navbar{
	background-color:red;
}
*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.parallax1 {
    background-image: url("https://i.ytimg.com/vi/veQhCG8z1dk/maxresdefault.jpg");
    height: 700px;
    max-width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("https://zlprod.azureedge.net/zliving/zliving/media/zliving/fitness/weight-loss/articles/1076x616/1076x615-weight-loss-success-is-mind-over-matter.jpg?ext=.jpg");
    height: 500px;
    max-width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("https://cdn.wallpapersafari.com/80/58/pjag6t.jpg");
    height: 900px;
    max-width:100%;

	  margin: 0 auto;
    padding: 190px 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*#wrapper {
    background-image: url("https://cdn.wallpapersafari.com/80/58/pjag6t.jpg");
    background-repeat: no-repeat;
    opacity:0.7;
    margin: 0 auto;
    padding: 190px 0;
}*/

.border {
	text-align: center;
	font-size:25px;
	background-color: #111;
	color:#fff;
	padding:18px;
}

.caption {
	position: absolute;
	left: 0;
	top:60%;
	width:100%;
	text-align:center;
}

.slots {
	font-size:2em;
	font-family:arial,helvetica,sans-serif;
	overflow:hidden;
	width:400px;
	height:100px;
	border:1px solid black;
	float:left;
	background-color: #E3E1E0;
	color: #173345;

}

.slots .wrapper{
	margin-top:-6px;
	width:100px;

}

.slots .slot{
	width:400px;
	height:100px;
	text-align:center;
	line-height: 100px

}


.go {
/*	margin-top:4px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color:white;
	border:2px;
	font-size:30px;
	color:green;*/

  display: inline-block;
  padding: 10px 30px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.go:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.go:hover{
	background-color: #3e8e41
}

body .container{
	padding-top: 20px;
	text-align: left;

}

.footerfix{height:40px;}
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  text-align: left;
  background-color: white;
}

@font-face {
  font-family: MarckScript;
  src: url(https://fonts.google.com/specimen/Marck+Script);
}
@font-face {
  font-family: 'Lobster Two', cursive;
  src: url(https://fonts.googleapis.com/css?family=Lobster+Two);
}
@font-face {
    font-family: 'Abril Fatface', cursive;
    src: url(https://fonts.googleapis.com/css?family=Abril+Fatface);
}
@font-face {
  font-family: 'Damion', cursive;
  src: url(https://fonts.googleapis.com/css?family=Damion);
}


.exercise:hover {
  font-family: 'Damion', cursive;
  font-size: 50px;
}

.icon {
/*  src: url(https://i.pinimg.com/originals/86/f5/d9/86f5d99e1e42ce75266b260ebd804955.jpg);*/
  /*padding: 15px;*/
  height:60px;
  width: auto;
}
